<div class="panel panel-danger">
  <div class="panel-heading">
    <h1>Sorry, you lose!</h1>
  </div>
  <div class="panel-body">
    <h2>The word was <span class="label label-info"><%= @game.word %></span></h2>
  </div>
</div>



<%= erb :new %>


