<!-- This form is incomplete--it needs a destination URL as well as a method: -->
<h2>Press button to start a new game:</h2>
<form action="/create" method="post">
  <input class="btn btn-lg btn-default" type="submit" value="New Game"/>
</form>
