<div class="panel panel-success">
  <div class="panel-heading">
    <h1>You Win!</h1>
  </div>
  <div class="panel-body">
    <h2>The word was <span class="label label-success"><%= @game.word %></span></h2>
  </div>
</div>

<%= erb :new %>
